<?include ..\Variables.wxi ?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
    <UI>
      <Dialog Id="ASSOConfigurationDlg" Width="370" Height="270" Title="$(var.ProductName) $(var.ProductVersion) Setup">
        
        <!--setup Top banner and Dialog title & Description-->
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="TopBannerBitmap" />
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="1" />
				<Control Id="DlgTitle" Type="Text" X="15" Y="6" Width="200" Height="15" TabSkip="no" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}ASSO Settings" />
				<Control Id="DlgDescription" Type="Text" X="25" Y="23" Width="280" Height="30" TabSkip="no" Transparent="yes" NoPrefix="yes" Text="Configure Super Admin login…" />
        
        <!--setup Dialog label & control-->
				<Control Id="OrganisationReferenceLabel" Type="Text" X="20" Y="65" Width="220" Height="15" TabSkip="no" Text="ASSO Organisation Reference" />
        <Control Id="OrganisationReferenceEdit" Type="Edit" X="20" Y="79" Width="220" Height="18" Property="ORG_REF" Text="{80}" DisableCondition="UPGRADEFOUND" />
		  
				<Control Id="EmailAddressLabel" Type="Text" X="20" Y="102" Width="220" Height="15" TabSkip="no" Text="Administrators Login Email" />
				<Control Id="EmailAddressEdit" Type="Edit" X="20" Y="116" Width="220" Height="18" Property="EMAIL_ID" Text="{80}" DisableCondition="UPGRADEFOUND" />
		  
				<Control Id="AdvancedIdLabel" Type="Text" X="20" Y="139" Width="100" Height="15" TabSkip="no" Text="Advanced ID" />
		  <Control Id="AdvancedIdEdit" Type="Edit" X="20" Y="153" Width="220" Height="18" Property="ADVANCED_ID" Text="{80}" DisableCondition="UPGRADEFOUND" />				
				
				<!--setup Dialog Push Buttons-->        
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="Back"></Control>
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="Next"></Control>
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
					<Publish Event="SpawnDialog" Value="CancelDlg" />
				</Control>
        
      </Dialog>
    </UI>
  
	</Fragment>
</Wix>
